.right-side{

display:flex;

align-items:center;

gap:15px;

}

.admin-btn{

width:48px;

height:48px;

border-radius:50%;

border:none;

background:#C21807;

color:white;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

transition:.3s;

}

.admin-btn:hover{

background:#8B0000;

transform:scale(1.05);

}

.cart-btn{

padding:10px 20px;

border:none;

background:#C21807;

color:white;

border-radius:25px;

cursor:pointer;

}